@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* USE: @include bp-max(sm)... bp-min... bp-only... */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, text-area {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 100%;
}

.simple-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.simple-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 90%;
  margin: 0px auto;
  padding: 0;
}

._cont-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 768px;
}
@media (max-width: 767.9px) {
  ._cont-col {
    height: auto;
  }
}

._cont-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 768px;
}
@media (max-width: 767.9px) {
  ._cont-row {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body {
  background-color: #000000;
  font-family: "EB Garamond", serif;
  font-size: 16px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

.first-section {
  color: #ffffff;
}
@media (max-width: 767.9px) {
  .first-section {
    width: 100%;
  }
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}
.header h1 {
  font-size: 69px;
  font-family: "EB Garamond", serif;
  padding-bottom: 30px;
}
.header p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.header__btn {
  position: relative;
}
.header__btn a {
  color: #bddabc;
  border: 1px solid #bddabc;
  border-radius: 30px;
  padding: 15px 60px;
  position: relative;
}
.header__btn a:hover {
  background-color: #bddabc;
  color: #1b372d;
  border-color: #1b372d;
}
.header__btn a:active {
  top: 2px;
}
@media (max-width: 991.9px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header :first-child {
    -ms-flex-item-align: start;
        align-self: start;
  }
  .header p {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.9px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-top: 30px;
  }
  .header h1 {
    font-size: 48px;
  }
  .header :last-child:not(a) {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 50px;
  }
}

.main-interior-container {
  justify-self: end;
  margin-bottom: 50px;
}
.main-interior-container img {
  max-height: 450px;
}

.second-section {
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
@media (max-width: 767.9px) {
  .second-section {
    width: 100%;
  }
}

.about-me-container {
  width: 40%;
  padding: 50px 60px 50px 0;
}
.about-me-container h2 {
  font-size: 18px;
}
.about-me-container h3 {
  font-size: 61px;
  font-family: "EB Garamond", serif;
  margin: 20px 0 30px;
}
.about-me-container p {
  font-size: 16px;
}
@media (max-width: 767.9px) {
  .about-me-container {
    width: 100%;
    padding: 10px 0;
  }
}

.sec-image-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sec-image-container img {
  width: 100%;
  height: auto;
  max-height: 700px;
  padding-left: 10px;
}
@media (max-width: 767.9px) {
  .sec-image-container {
    width: 100%;
  }
  .sec-image-container img {
    padding: 0 0 20px 0;
  }
}

.third-section {
  background-color: #bddabc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1b372d;
}
.third-section h2 {
  font-size: 61px;
  font-family: "EB Garamond", serif;
  width: 30%;
}
.third-section :first-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.third-section .container {
  margin: 70px;
}
@media (max-width: 767.9px) {
  .third-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .third-section .resume-cont {
    width: 100%;
  }
  .third-section .resume-cont :first-child {
    margin-top: 10px;
  }
  .third-section .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 100px 0;
  }
  .third-section .container {
    margin: 0;
  }
}
@media (max-width: 991.9px) {
  .third-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .third-section ._cont-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .third-section .resume-cont {
    width: 100%;
  }
  .third-section .resume-cont :first-child {
    margin-top: 10px;
  }
  .third-section .resume {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin: 100px 0;
  }
  .third-section .container {
    margin: 0;
  }
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}
.resume h3 {
  font-weight: bold;
  font-size: 18px;
}
.resume p {
  margin: 10px 0;
}
.resume .year {
  font-weight: bold;
  font-size: 18px;
  margin: 0 50px;
}
@media (max-width: 767.9px) {
  .resume .year {
    margin: 0;
  }
}
@media (max-width: 991.9px) {
  .resume .year {
    margin: 0;
  }
}

.resume-cont {
  width: 70%;
}

#hidden {
  visibility: hidden;
}
@media (max-width: 767.9px) {
  #hidden {
    display: none;
  }
}
@media (max-width: 991.9px) {
  #hidden {
    display: none;
  }
}

.fourth-section {
  color: #ffffff;
}
.fourth-section h2 {
  font-size: 61px;
  font-family: "EB Garamond", serif;
  margin: 80px 0;
}
@media (max-width: 767.9px) {
  .fourth-section h2 {
    font-size: 32px;
    margin: 20px 0 60px;
  }
}
.fourth-section ._cont-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.fourth-section ._cont-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.fourth-section h3 {
  color: #bddabc;
}
@media (max-width: 767.9px) {
  .fourth-section h3 {
    font-size: 16px;
  }
}
.fourth-section p {
  margin: 20px 0;
}
@media (max-width: 767.9px) {
  .fourth-section p {
    font-size: 14px;
  }
}
.fourth-section .col-5 {
  padding: 0 10px;
}
@media (max-width: 767.9px) {
  .fourth-section {
    line-height: 1;
  }
  .fourth-section .col-3, .fourth-section .col-4, .fourth-section .col-5 {
    width: 100%;
    padding: 0;
  }
  .fourth-section h3 {
    margin-top: 50px;
  }
  .fourth-section .col-3 h3 {
    margin-top: 0;
  }
}

.fifth-section {
  background-color: #ffffff;
  color: #000000;
}
.fifth-section h2 {
  font-family: "EB Garamond", serif;
  font-size: 61px;
  margin: 80px 0;
}
.fifth-section h3 {
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
.fifth-section h4 {
  margin: 24px 0;
  letter-spacing: 2px;
}
.fifth-section .col-4 {
  -ms-flex-item-align: start;
      align-self: start;
}
.fifth-section .col-8 {
  -ms-flex-item-align: end;
      align-self: end;
  margin-bottom: 94px;
}
.fifth-section .simple-row :first-child:not(h4) {
  margin-right: 34px;
}
.fifth-section .simple-row :last-child:not(p) {
  margin-left: 45px;
}
@media (max-width: 767.9px) {
  .fifth-section .simple-row :last-child:not(p) {
    margin-left: 0;
  }
}
@media (max-width: 991.9px) {
  .fifth-section .simple-row :last-child:not(p) {
    margin-left: 0;
  }
}
@media (max-width: 1199.9px) {
  .fifth-section .simple-row :last-child:not(p) {
    margin-left: 0;
  }
}
.fifth-section .first-row {
  margin-bottom: 47px;
}
@media (max-width: 767.9px) {
  .fifth-section .col-4, .fifth-section .col-8 {
    width: 100%;
  }
  .fifth-section .col-4 {
    margin: 30px 0;
  }
  .fifth-section .simple-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifth-section .simple-row :first-child {
    margin-top: 0;
  }
  .fifth-section .simple-row :last-child {
    margin-bottom: 0;
  }
  .fifth-section h2 {
    margin: 0 0 30px;
  }
  .fifth-section h4, .fifth-section h3 {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 20px;
  }
  .fifth-section h3 {
    font-weight: 700;
  }
  .fifth-section h4 {
    margin: 0;
  }
  .fifth-section p {
    line-height: 1;
    font-size: 14px;
  }
}
@media (max-width: 991.9px) {
  .fifth-section ._cont-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifth-section .col-4, .fifth-section .col-8 {
    width: 100%;
  }
  .fifth-section .col-4 {
    margin: 30px 0;
  }
  .fifth-section .simple-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifth-section .simple-row :first-child {
    margin-top: 0;
  }
  .fifth-section .simple-row :last-child {
    margin-bottom: 0;
  }
  .fifth-section h2 {
    margin: 0 0 30px;
  }
  .fifth-section h4, .fifth-section h3 {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 20px;
  }
  .fifth-section h3 {
    font-weight: 700;
  }
  .fifth-section h4 {
    margin: 0;
  }
  .fifth-section p {
    line-height: 1;
    font-size: 14px;
  }
}
@media (max-width: 1199.9px) {
  .fifth-section .col-4, .fifth-section .col-8 {
    width: 100%;
  }
  .fifth-section .col-4 {
    margin: 30px 0;
  }
  .fifth-section .simple-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifth-section .simple-row :first-child {
    margin-top: 0;
  }
  .fifth-section .simple-row :last-child {
    margin-bottom: 0;
  }
  .fifth-section h2 {
    margin: 0 0 30px;
  }
  .fifth-section h4, .fifth-section h3 {
    font-size: 14px;
    letter-spacing: normal;
    margin-bottom: 20px;
  }
  .fifth-section h3 {
    font-weight: 700;
  }
  .fifth-section h4 {
    margin: 0;
  }
  .fifth-section p {
    line-height: 1;
    font-size: 14px;
  }
}

.sixth-section {
  background-color: #ffffff;
  color: #000000;
}
.sixth-section h2 {
  font-family: "EB Garamond", serif;
  font-size: 61px;
  margin: auto 0 40px;
}
.sixth-section h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  margin: 12px 0;
}
.sixth-section p {
  font-size: 18px;
}
.sixth-section .simple-col {
  height: auto;
}
.sixth-section .simple-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sixth-section .simple-row .col-4 {
  width: 32.29%;
  cursor: pointer;
  position: relative;
}
.sixth-section .simple-row .col-4 img {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.sixth-section .simple-row .col-4:hover img {
  -webkit-transform: scale3d(0.9, 0.9, 0.9);
          transform: scale3d(0.9, 0.9, 0.9);
}
.sixth-section .second-row {
  margin: 40px 0 62px;
}
@media (max-width: 767.9px) {
  .sixth-section .simple-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sixth-section .simple-row .col-4 {
    width: 100%;
  }
  .sixth-section .col-5, .sixth-section .col-4 {
    width: 100%;
  }
  .sixth-section h2 {
    font-size: 44px;
  }
  .sixth-section h3 {
    margin: 12px 0 0;
  }
  .sixth-section img {
    margin-top: 12px;
  }
  .sixth-section .second-row {
    margin: 0 0 12px;
  }
}

.seventh-section {
  background-color: #000000;
  color: #ffffff;
}
.seventh-section h3 {
  font-family: "EB Garamond", serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.seventh-section h4 {
  text-transform: uppercase;
  color: #bddabc;
  margin: 10px 0;
}
.seventh-section p {
  color: #bddabc;
}
.seventh-section .col-8 {
  padding: 0 50px;
}
.seventh-section ._cont-col {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.seventh-section .simple-row img {
  width: 100%;
  height: auto;
}
@media (max-width: 767.9px) {
  .seventh-section .simple-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .seventh-section .simple-row img {
    width: 90%;
    height: auto;
  }
  .seventh-section .col-8, .seventh-section .col-4 {
    width: 100%;
    padding: 0;
    margin-bottom: 40px;
  }
  .seventh-section .col-4 {
    margin: 16px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .seventh-section h3 {
    font-size: 16px;
  }
}

.eight-section {
  background-color: #bddabc;
  color: #1b372d;
}
.eight-section .container {
  padding-right: 10px;
  width: 90%;
  margin: 0;
  height: 768px;
}
.eight-section .simple-row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.eight-section h2 {
  font-family: "EB Garamond", serif;
  font-size: 69px;
  margin: 110px 0 142px;
}
.eight-section h3, .eight-section h4 {
  text-transform: uppercase;
}
.eight-section h3 {
  font-size: 21px;
  margin-bottom: 25px;
}
.eight-section p {
  font-size: 18px;
  line-height: 2;
}
.eight-section img {
  width: 100%;
  height: auto;
  position: relative;
}
.eight-section .col-3 {
  -ms-flex-item-align: end;
      align-self: end;
}
.eight-section .col-3 :last-child:not(a) {
  margin: 30px 0 50px;
}
.eight-section .col-3 a:hover img {
  top: 2px;
}
.eight-section .col-3 a:active img {
  top: 2px;
}
.eight-section .col-5 :last-child:not(div) {
  margin-top: 50px;
}
@media (max-width: 767.9px) {
  .eight-section .col-5, .eight-section .col-3 {
    width: 100%;
  }
  .eight-section h2 {
    font-size: 32px;
    margin: 42px 0 60px;
  }
}
