@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* USE: @include bp-max(sm)... bp-min... bp-only... */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, text-area {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 100%;
}

.container {
  max-width: 90%;
  margin: 0px auto;
  padding: 0;
}

._cont-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 768px;
}

._cont-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 768px;
}

body {
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p {
  line-height: 1.5;
}

.first-section {
  color: #ffffff;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 120px;
}
.header h1 {
  font-size: 69px;
  font-family: 'EB Garamond', serif;
  padding-bottom: 30px;
}
.header p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.header a {
  color: #bddabc;
  border: 1px solid #bddabc;
  border-radius: 30px;
  padding: 15px 60px;
}
@media (max-width: 991.9px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header :first-child {
    -ms-flex-item-align: start;
        align-self: start;
  }
  .header p {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.9px) {
  .header p {
    margin-bottom: 130px;
  }
}

.main-interior-container {
  justify-self: end;
  margin-bottom: 50px;
}
.main-interior-container img {
  width: 100%;
  height: auto;
  max-height: 450px;
}

.second-section {
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.about-me-container {
  width: 40%;
  padding: 50px 60px 50px 0;
}
.about-me-container h2 {
  font-size: 18px;
}
.about-me-container h3 {
  font-size: 61px;
  font-family: 'EB Garamond', serif;
  margin: 20px 0 30px;
}
.about-me-container p {
  font-size: 16px;
}

.sec-image-container {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sec-image-container img {
  width: 100%;
  height: auto;
  max-height: 700px;
  padding-left: 10px;
}

.third-section {
  background-color: #bddabc;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;
}
.third-section h2 {
  font-size: 61px;
  font-family: 'EB Garamond', serif;
  width: 30%;
}
.third-section :first-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.third-section .container {
  margin: 70px;
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 200px;
}
.resume h3 {
  font-weight: bold;
  font-size: 18px;
}
.resume p {
  margin: 10px 0;
}
.resume .year {
  font-weight: bold;
  font-size: 18px;
  margin: 0 50px;
}

.resume-cont {
  width: 70%;
}

#hidden {
  visibility: hidden;
}

.fourth-section {
  color: #ffffff;
}
.fourth-section h2 {
  font-size: 61px;
  font-family: 'EB Garamond', serif;
  margin: 80px 0;
}
.fourth-section ._cont-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.fourth-section ._cont-row {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.fourth-section h3 {
  color: #bddabc;
}
.fourth-section p {
  margin: 20px 0;
}
.fourth-section .col-5 {
  padding: 0 10px;
}

.fifth-section {
  background-color: #ffffff;
  color: #000000;
}
.fifth-section ._cont-col {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.fifth-section ._cont-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
